        
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>Tab Normal</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            
                            
                            
                            <div class="uix-tabs uix-tabs--center">
                                <div class="uix-tabs__nav">
									<ul>
										<li class="active"><a href="javascript:void(0);">Tab 1</a></li>
										<li><a href="javascript:void(0);">Tab 2</a></li>
										<li><a href="javascript:void(0);">Tab 3</a></li>
									</ul>
								</div><!-- /.uix-tabs__nav -->

                                <div class="uix-tabs__content active">
                                    <p>Hi, this is the first tab.</p>
                                </div>
                                <div class="uix-tabs__content">
									<p>This is the 2nd tab.</p>
									<p>This is the 2nd tab.</p>
									<p>This is the 2nd tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>And this is the 3rd tab.</p>
                                </div>    

                            </div>
                            <!-- .uix-tabs end -->     
                            
                  
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        
         
           
        
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            
               
                            
                            <div class="uix-tabs" data-fullwidth="1">
                                <div class="uix-tabs__nav">
									<ul>
										<li class="active"><a href="javascript:void(0);">Tab 1</a></li>
										<li><a href="javascript:void(0);">Tab 2</a></li>
										<li><a href="javascript:void(0);">Tab 3</a></li>
									</ul>
								</div><!-- /.uix-tabs__nav -->

                                <div class="uix-tabs__content active">
                                    <p>Hi, this is the first tab.</p>
                                </div>
                                <div class="uix-tabs__content">
									<p>This is the 2nd tab.</p>
									<p>This is the 2nd tab.</p>
									<p>This is the 2nd tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>And this is the 3rd tab.</p>
                                </div>    

                            </div>
                            <!-- .uix-tabs end -->  
                  
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        

     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>Tab Rotation Effect 1</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            
                            <div class="uix-tabs uix-tabs--rotation" data-rotation="true" data-rotation-display="5" data-rotation-radius="130" data-rotation-wrapper-angle="0">
                                <div class="uix-tabs__nav">
									<ul>
										<li class="active"><a href="javascript:void(0);">Tab 1</a></li>
										<li><a href="javascript:void(0);">Tab 2</a></li>
										<li><a href="javascript:void(0);">Tab 3</a></li>
										<li><a href="javascript:void(0);">Tab 4</a></li>
										<li><a href="javascript:void(0);">Tab 5</a></li>
									</ul>
								</div><!-- /.uix-tabs__nav -->

                                <br><br><br><br>
                               
                                <div class="uix-tabs__content active">
                                    <p>Hi, this is the first tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>This is the 2nd tab.</p>
								    <p>This is the 2nd tab.</p>
								    <p>This is the 2nd tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>And this is the 3rd tab.</p>
                                </div>    
                                <div class="uix-tabs__content">
                                    <p>And this is the 4th tab.</p>
                                </div>  
                                <div class="uix-tabs__content">
                                    <p>And this is the 5th tab.</p>
                                </div>  
                                
                            </div>
                            <!-- .uix-tabs end -->  
                  
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section> 
        
        
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>Tab Rotation Effect 2</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
     
       
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            
                            <div class="uix-tabs uix-tabs--rotation" data-rotation="true" data-rotation-display="4" data-rotation-radius="130" data-rotation-wrapper-angle="-45">
                                <div class="uix-tabs__nav">
									<ul>
										<li class="active"><a href="javascript:void(0);">Tab 1</a></li>
										<li><a href="javascript:void(0);">Tab 2</a></li>
										<li><a href="javascript:void(0);">Tab 3</a></li>
										<li><a href="javascript:void(0);">Tab 4</a></li>
									</ul>
								</div><!-- /.uix-tabs__nav -->
                                
                                <br><br><br><br>

                                <div class="uix-tabs__content active">
                                    <p>Hi, this is the first tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>This is the 2nd tab.</p>
								    <p>This is the 2nd tab.</p>
								    <p>This is the 2nd tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>And this is the 3rd tab.</p>
                                </div>    
                                <div class="uix-tabs__content">
                                    <p>And this is the 4th tab.</p>
                                </div>   
                                
                            </div>
                            <!-- .uix-tabs end -->  
                  
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        





<!-- Fork me on GitHub ribbon -->
<a href="https://github.com/xizon/uix-kit" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<script>
    ( function( $ ) {
"use strict";
  
    $( function() {
    

		$( '.uix-tabs' ).each( function( id ) {
			var $this             = $( this ),
			    $li               = $this.find( 'ul > li' ),
				liWidth           = $li.first().outerWidth(),
				liHeight          = $li.first().outerHeight(),
				liNum             = $li.length,
				$contentbox       = $this.find( '.uix-tabs__content' ),
				ulWidth           = $this.data( 'width' ),
				fullwidth         = $this.data( 'fullwidth' ),
				rotation          = $this.data( 'rotation' ),
				rotationRadius    = $this.data( 'rotation-radius' ),
				rotationWapperDeg = $this.data( 'rotation-wrapper-angle' ),
				rotationDisplay   = $this.data( 'rotation-display' ),
				
				
				
				tabBoxID          = id,
				isNumeric         = /^[-+]?(\d+|\d+\.\d*|\d*\.\d+)$/;
			
			if( typeof fullwidth != typeof undefined && fullwidth == 1 ) {
				$li.css( 'width', ( 100 / liNum ) + '%' );
			}
			
					
			
			if( typeof rotation === typeof undefined ) {
				rotation = false;
			}	
			
			
			if( typeof rotationWapperDeg === typeof undefined ) {
				rotationWapperDeg = 0;
			}	
			
			if( typeof rotationDisplay === typeof undefined ) {
				rotationDisplay = 5;
			}		
			
			
			
			$li.each( function( index ) {
				index = index + 1;
				$( this ).attr( 'href', 'javascript:' );
				$( this ).attr( 'data-tab', tabBoxID + '-tabs-show' + index );
			});
			$( $contentbox ).each( function( index ) {
				index = index + 1;
				$( this ).attr( 'id', tabBoxID + '-tabs-show' + index );
			});
			
			
			// Tab Rotation Effect
			if ( rotation ) {
		
				$this.find( '.uix-tabs__nav' ).css( {
					'width'      : rotationRadius * 2 + 'px'
				} );

		
				$this.find( 'ul' ).css( {
					'width'     : rotationRadius * 2 + 'px',
					'height'    : rotationRadius * 2 + 'px',
					'transform' : 'rotate('+parseFloat(rotationWapperDeg)+'deg)'
				} );

				

				//Layout components in a circle layout
				var angle           = 0,
					step            = 2 * Math.PI / rotationDisplay,
					transitionDelay = 0,
					pad             = $this.find( 'ul' ).width();


				$this.find( 'ul > li' ).each( function() { //Can'nt use arrow function here!!!
					// 'this' works differently with arrow fucntions
					var el          = $( this ),
						x           = rotationRadius * Math.cos(angle) - liWidth / 2,
						y           = rotationRadius * Math.sin(angle) - liHeight / 2;


					el.css({
						'transform'        : 'translate('+parseFloat( x )+'px,'+parseFloat( pad/2 + y )+'px)',
						'transition-delay' : transitionDelay + "s"
					})
					.find( '> a' )
					.css({
						'transform'        : 'rotate('+parseFloat(-rotationWapperDeg)+'deg)'
					});


					angle += step;
					transitionDelay += 0.15;
					
					
					
					//Click on the rotation effect
					//----------------------- begin ----------------------
					el.on( 'click', function( e ) {
						
						var increase   = Math.PI * 2 / rotationDisplay,
							n          = $( this ).index(),
							endAngle   = n % rotationDisplay * increase; 


						( function turn() {
							if (Math.abs(endAngle - angle) > 1 / 8) {
								var sign = endAngle > angle ? 1 : -1;
								angle = angle + sign / 8;
								setTimeout(turn, 20);
							} else {
								angle = endAngle;
							}
							
							
						
							$this.find( 'ul > li' ).each( function( index ) {
								var x2           = Math.cos( - Math.PI / 2 + index * increase - angle) * rotationRadius - liWidth / 2,
									y2           = Math.sin( - Math.PI / 2 + index * increase - angle) * rotationRadius + liHeight;

							
								$( this ).css({
									'transform'        : 'translate('+parseFloat( x2 )+'px,'+parseFloat( y2 )+'px)',
									'transition'       : 'none',
									'transition-delay' : 0
								})
								.find( '> a' )
								.css({
									'transform'        : 'rotate('+parseFloat(-rotationWapperDeg)+'deg)'
								});

							});

														 
						})();	
						
					});
					//----------------------- end ----------------------
					
					
				});	


				
			}
			
			
			// Tab Sliding Effext
			if ( $this.find( 'ul li:first .uix-tabs__marker' ).length == 0 ) {
				$this.find( 'ul li:first' ).prepend( '<div class="uix-tabs__marker"></div>' );
			}
			
			
			// Tab Fade Effect
			$this.on( 'click', 'li', function( e ) {
				
				var tabID = $( this ).attr( 'data-tab' ),
					index = parseFloat( $( this ).index() - 1 );
				
				
				$this.find( 'li' ).removeClass( 'active' );
				$this.find( '.uix-tabs__content' ).removeClass( 'active' );
		
				$( this ).addClass( 'active' );
				$( '#' + tabID ).addClass( 'active' );
				

				//sliding marker
				var translateX = $( this ).index() * 100,
					liHeight   = $this.find( 'ul li:first' ).outerHeight(),
					translateY = $( this ).index() * liHeight;
				
				if ( $( window ).width() <= 768 ) {
					$this.find( '.uix-tabs__marker' ).css({
						'transform'          : 'translateY( '+translateY+'px )'	
					});	
				} else {
					$this.find( '.uix-tabs__marker' ).css({
						'transform'          : 'translateX( '+translateX+'% )'	
					});	
				}

		
				
				return false;
				
				
			});
			
			// Init
			$this.find( 'ul > li.active' ).trigger( 'click' );
			
			//Active current tab
			var url    = window.location.href,
				locArr,
			    loc, 
				curTab;
			
			if ( url.indexOf( '#' ) >= 0 ) {
				
				locArr = url.split( '#' );
			    loc    = locArr[1];
				curTab = $( '.uix-tabs' ).find( 'ul > li:eq('+loc+')' );
				curTab.trigger( 'click' );	
			}
				
			
				
			
		});
		 
		 
		
    } );
    
    
} ) ( jQuery );
</script>

<style>
    //Highlight Color
$highlight-color1      : #EC5E79; //rgba(236, 94, 121, 1)
$highlight-color2      : #E8588C; //rgba(232, 88, 140, 1)

//Primary Text Color
$primary-text-color1   : #212121;
$primary-text-color2   : #474747;




// Outer Shadow Effect
// ---------------------------
//
@mixin outer-shadow( $type: 1 ) {
	// @include outer-shadow( 1 );
	
	@if ( $type == 1 ) {
		box-shadow: 0 4px  4px  rgba(0, 0, 0, .05),
				   0 1px  6px  rgba(0, 0, 0, .05),
				   0 8px  8px  rgba(0, 0, 0, .05), 
				   0 16px 16px rgba(0, 0, 0, .05), 
				   8px 32px 32px rgba(0, 0, 0, .02), 
				   8px 64px 64px rgba(0, 0, 0, .02);	
	}
	
	@if ( $type == 2 ) {
		box-shadow: 0 1.8vw 4vw -.7vw #cbdfee;
	}


	
}



section {
	padding: 3rem 0;
}


/*
 * 1. Tab Normal Effect
 * 2. Tab Rotation Effect
*/



.uix-tabs {
	
	
	/* 
	 ---------------------------
	 1. Tab Normal Effect
	 ---------------------------
	 */ 
	&:not(.uix-tabs--rotation) {
	    @include outer-shadow();
		
		.uix-tabs__marker {
			background: $primary-text-color1;
			height: 2px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			transition: .1s ease-in-out;
		}	
		
	}
	
	.uix-tabs__content {
		
		display: none;
		padding: 1.3125rem;
		text-align: left;
		
		&.active {
			display: block;
		}
	}
	
	.uix-tabs__nav {
		> ul {
			padding: 0;
			margin: 0;
			> li {
				position: relative;
				display: block;
				transition: .1s ease-in-out;
				list-style: none;
				float: left;
				box-shadow: inset 1px 0px 0px 0px rgba(230, 230, 230, 1);
				background: #f7f7f7;
				min-width: 7.5rem;

				> a {
					position: relative;
					padding: 0.625rem 1rem;
					display: block;
					text-align: center;
				}
				&.active {
					background: #fff;

				}
			}

			&::after {
				content: '';
				display: block;
				clear: both;
			}
		}	
	}

	

	&.uix-tabs--center {
		box-shadow: none;

		.uix-tabs__nav {
			
			> ul {
				font-size: 0; /*Fighting the Space Between Inline Block Elements*/
				display: block;
				width: 100%;
				text-align: center;
				/*require*/
				@include outer-shadow();

				li {
					font-size: 1rem;/*Fighting the Space Between Inline Block Elements*/
					display: inline-block;
					/*require*/
					float: none;

				}
			}	
			
		}
		

	}



	/* 
	 ---------------------------
	 2. Tab Rotation Effect
	 ---------------------------
	 */ 
	&.uix-tabs--rotation {
		
		.uix-tabs__content {
			position: relative;
			@include outer-shadow();
		}
		.uix-tabs__nav {
			position: relative;
			margin: 0;
			
			> ul {
				box-sizing: border-box;
				position: relative;
				width: 300px;
				height: 300px;
				border: 1px solid #ccc;
				border-radius: 50%;
				margin: 0;
				padding: 0;
				display: inline-block;
				
				> li {
					//transition: all 0.1s ease; //If you use a click effect, don't set it
					margin: 0;
					padding: 0;
					box-sizing: border-box;
					position: absolute;
					width: 80px;
					height: 80px;
					background: none;
					box-shadow: none;
					z-index: 2;
					top: 0;
					left: 50%;
					min-width: inherit; /* Required */
				
					> a {
						width: 80px;
						height: 80px;
						line-height: 60px;
						background: #fff;
						border-radius: 100%;
						@include outer-shadow();
					}

					&.active > a {
						background: $primary-text-color1;
						color: #fff;
					}

				}
			}	
			
		}

	}
}


/* Center alignment */ 
.uix-t-c .uix-tabs.uix-tabs--rotation {
	
	.uix-tabs__nav {
		margin: 0 auto;
	}
	
}



@media all and (max-width: 768px) { 
	.uix-tabs {

		&:not(.uix-tabs--rotation) li {
			width: 100% !important;
		}

		/* Tab Rotation Effect */
		&.uix-tabs--rotation {

			.uix-tabs__nav {
			    width: auto !important;
			}
		
			
		}

		
	}	

}


</style>